html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.object {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attatchement: fixed;
    padding: 0;
    margin: 0;
    display: table;
    color: #eee;
}
h1 {
    margin: 0;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.one {
    background-image: url('http://www.hawaii-all-inclusive.net/files/3318241/uploaded/all-inclusive-waikiki-hawaii-vacation-package.jpg');
}
.two {
    background-image: url('https://www.planwallpaper.com/static/images/desktop-year-of-the-tiger-images-wallpaper.jpg');
}
.three {
    background-image: url('http://www.qygjxz.com/data/out/123/4027476-images.jpg');
}
.small {
    height: 40%;
    color: #333;
}
